.ferramentas {
  height: 100%;
  .ant-carousel {
    height: 100%;
    .slick-slider {
      height: 100%;
    }
    .slick-prev {
      width: 0;
      height: 0;
      border-top: 14px solid transparent;
      border-bottom: 14px solid transparent;
      border-right: 14px solid #df5a01;
    }
    .slick-next {
      width: 0;
      height: 0;
      border-top: 14px solid transparent;
      border-bottom: 14px solid transparent;
      border-left: 14px solid #df5a01;
    }
    .slick-disabled {
      display: none !important;
    }
    .slick-prev:hover {
      width: 0;
      height: 0;
      border-top: 14px solid transparent;
      border-bottom: 14px solid transparent;
      border-right: 14px solid #b34700;
    }
    .slick-next:hover {
      width: 0;
      height: 0;
      border-top: 14px solid transparent;
      border-bottom: 14px solid transparent;
      border-left: 14px solid #b34700;
    }
  }
  .slick-dots {
    bottom: -30px;
  }
  .slick-dots li button {
    width: 12px;
    height: 5px;
    background: black;
  }
  .slick-dots li.slick-active button {
    width: 12px;
    height: 5px;
    background: #df5a01;
  }
  .title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 24px;
  }
  .text {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .ant-row {
    margin-bottom: 6px;
  }
  .ant-btn {
    background-color: #df5a01;
    color: #fff;
    width: 200px;
    height: 50px;
    vertical-align: middle;
  }
  .ant-card-body {
    padding: 16px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
  }
  .ant-card-bordered {
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 4px 4px rgb(145, 145, 145);
  }
  .ant-card-bordered:hover {
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 4px 4px rgb(80, 77, 77);
    cursor: pointer;
  }
  .languageText {
    color: black;
  }
  .operators {
    font-size: 20px;
  }
}
