.Sidebar {
    height: 100%;
    .ant-layout-sider {
        height: 100%;
        background: #1094ab !important;
        .Logo {
            height: 64px;
            font-size: 30px;
            text-align: center;
            a {
                color: #fff;
                vertical-align: middle;
            }
        }

        .ant-menu {
            width: 80%;
            margin-left: 10%;
            text-align: center;
            text-decoration: underline;
            font-size: 14px;
            background: #1094ab;
            .ant-menu-item {
                background: #1094ab;
                display: inline-block;
                text-align: center;
                cursor: pointer;
                box-shadow: inset 0 0 0 0 #31302b;
                -webkit-transition: all ease 0.8s;
                -moz-transition: all ease 0.8s;
                transition: all ease 0.8s;
                a {
                    color: white;
                }
            }
            .ant-menu-item:hover {
                box-shadow: inset 240px 0 0 0 #fcb421;
                color: #fff;
                a {
                    color: black;
                }
            }
            .ant-menu-item-selected {
                background-color: #fcb421;
                a {
                    color: black;
                    text-decoration: underline;
                }
            }
            .ant-menu-item-selected:hover {
                background-color: #fcb421;
                box-shadow: none;
            }
        }
    }
}
