.Sidebar {
    height: 100%;
    .ant-layout-sider {
        height: 100%;
        background: #233d4d !important;
        .Logo {
            height: 64px;
            font-size: 30px;
            text-align: center;
            a {
                color: #f1f2f3;
                vertical-align: middle;
            }
        }

        .ant-menu {
            text-align: center;
            text-decoration: underline;
            font-size: 14px;
            background: #233d4d;
            .ant-menu-item-selected {
                background-color: #df5a01;
            }
        }
    }
}
